/**
* @name Comfy Fork
* @author Nyria#3863, metro420yt, sz6084
* @description Stay comfy while talking to your friends
* @version 2.5.0
* @invite rtBQX5D3bD
* @website https://github.com/sz6084/Discord-Theme
*/

@import "https://metro420yt.github.io/Discord-comfy/main.css";

/* ═══════『 ⚠️・Important tips 』═══════
*   ➥ To comment or uncomment a line you need to put those "/" and "*" characters at the beginning and ending of comments.
*      See more here : https://developer.mozilla.org/en-US/docs/Web/CSS/Comments
*
*   ➥ play with the values and see how it goes, don't delete "px" after the value if you don't have knowledge of CSS.
*
*   ➥ To change the colors, replace the HEX code with the one you picked here : https://htmlcolorcodes.com
*/

/* ═══════『 🚫 ・ No scrollbars 』- Comment the line below if you want the scrollbar back */
/* @import "https://metro420yt.github.io/Discord-comfy/no-scrollbar.css"; */

/* ═══════『 🎵 ・ Better SpotifyControls seek bar 』- Comment the line below if you don't want this spotify bar */
@import "https://metro420yt.github.io/Discord-comfy/better-spotify.css";

/* ═══════『 🎵 ・ Vencord Spotify Plugin 』- Comment the line below if you don't want this spotify bar FOR VENCORD */
@import "https://metro420yt.github.io/Discord-comfy/vencord-spotify.css";

:root {
  /* Main Theme Colors */
  --comfy-primary: #1a1a1e;
  --comfy-secondary: #121214;
  --comfy-secondary-alt: #2c2d32;
  --comfy-tertiary: #121214;
  --comfy-accent: #6e85d3;


  /* ⚠ cpu intensive
  * delete or comment to disable
  */
  --disable-animations: 2s pulse infinite;

  /* ⚙️ / 🎤 / 🎧 buttons*/
  --user-buttons-spacing: 8px;
  --user-buttons-color: #abacb2;

  /* Roundness (higher = more rounded corners)
  *   0 = Square
  *   25 = Circle
  */
  --avatar-radius: 5px;
  --status-radius: 3px;
  --server-radius: 8px;
  --role-radius: 5px;

  /* chat colors */
  /*--mention-color: #f04747;
  --unread-color: #7289da; */

  /* chatbar */
  /*--chat-buttons: #7289da;
  --colored-emoji: grayscale(0%);*/

  /* status colors */
  /*--online: #43b581;
  --idle: #faa61a;
  --dnd: #f04747;
  --offline: #747f8d;
  --streaming: #593695;*/

  /* activity colors */
  --playing: #7289da;
  --listening: #1db653;

  /* Discord logo
  *  block = logo visible
  *  none = logo hidden
   */
  --discord-logo: none;
}
