.theme-darker,
.theme-dark,
.visual-refresh .theme-darker,
.visual-refresh.theme-darker,
.visual-refresh .theme-dark,
.visual-refresh.theme-dark {
  --background-primary: var(--comfy-primary, #23283d);
  --background-secondary: var(--comfy-secondary, #1e2233);
  --background-secondary-alt: var(--comfy-secondary-alt, #191f2e);
  --background-tertiary: var(--comfy-tertiary, #101320);
  --background-accent: var(--comfy-accent, #6e85d3);
  --modal-background: var(--background-primary);
  --background-mobile-primary: var(--background-primary);
  --background-mobile-secondary: var(--background-secondary);
  --channeltextarea-background: var(--background-secondary-alt);
  --background-message-hover: transparent;
  --background-modifier-hover: #00000010;
  --background-modifier-active: #0000001a;
  --background-modifier-selected: #0000001f;
  --deprecated-card-bg: #12141f63;
  --background-floating: var(--background-tertiary);
  --deprecated-quickswitcher-input-background: var(--background-tertiary);
  --elevation-low: none;
  --scrollbar-auto-thumb: #121722;
  --scrollbar-auto-track: var(--background-secondary-alt);
  --scrollbar-thin-thumb: #141925;
  --toast-background: var(--background-secondary) !important;
  --toast-header: var(--background-tertiary) !important;
  --toast-contents: var(--background-primary) !important;
  --activity-card-background: var(--background-tertiary);
  --input-background: var(--background-secondary);
  --background-surface-high: var(--background-secondary-alt);
  --background-surface-higher: var(--background-secondary) !important;
}

.theme-light {
  --background-modifier-hover: #262b41;
  --background-modifier-active: #262b41;
  --header-primary: #fff;
  --header-secondary: #b1b5b9;
  --text-normal: #8e9297;
  --interactive-active: #fff;
  --interactive-hover: #b1b5b9;
  --input-background: var(--background-secondary-alt);
}

:root .avatar__44b0c,
:root .avatar_c19a55,
:root .avatar__07f91,
:root .avatar_d28e10,
:root .overlay__75742:after,
:root .voiceAvatar_f910d0,
:root .border_f910d0,
:root .avatarSpeaking__44b0c {
  border-radius: var(--avatar-radius);
}
:root .mask__44b0c foreignObject,
:root .wrapper_cc5dd2 foreignObject,
:root .callAvatarMask_f910d0 foreignObject {
  mask: unset;
}
:root .horizontalReverse__7c0ba,
:root .option__66e7e,
:root .footer__6c12c {
  background-color: var(--background-secondary);
}
:root .tooltip_c36707 {
  background-color: var(--background-secondary-alt);
}
:root .title_c38106,
:root .sidebar__5e434 {
  background-color: var(--background-tertiary);
}
:root .panel__5dec7,
:root .wrapper_e131a9,
:root #vc-spotify-player {
  background-color: var(--background-secondary-alt);
}
:root .vc-notification-root {
  background-color: var(--background-secondary);
}
:root .numberBadge__2b1f5 {
  background-color: var(--mention-color) !important;
}
:root .barText__7aaec {
  color: white !important;
}

:root .container__2637a {
  background-color: var(--background-secondary);
}
:root .sidebar__5e434 {
  overflow: visible;
}
:root .sidebar__5e434::after {
  all: unset;
}
:root .panels__5e434 {
  z-index: 1;
  background: none;
  border: none;
  left: 0;
  bottom: 0;
  width: calc(100% - 72px);
  margin-left: 72px;
  background-color: var(--background-secondary);
}
:root .panels__5e434 .container__37e49 {
  all: unset;
}
:root .panels__5e434 .container__37e49 .nameTag__37e49 {
  display: none;
}
:root .wrapper__44df5 {
  background-color: var(--background-secondary);
}
:root .popout_8514,
:root .popout__76f04 {
  background-color: var(--background-secondary-alt);
}
:root .bar__7aaec {
  background-color: var(--unread-color);
}
:root .mentionsBar__7aaec {
  background-color: var(--mention-color);
}
:root .interactive__972a0:hover {
  background-color: color-mix(in srgb, var(--background-secondary), white 5%);
}
:root .interactive__972a0.interactiveSelected__972a0 {
  background: none;
  background-color: var(--background-tertiary);
}
:root .interactive__972a0.interactiveSelected__972a0:hover {
  background-color: color-mix(in srgb, var(--background-tertiary), white 10%);
}
:root .searchBar_e6b769 .button__201d5 {
  background-color: var(--background-primary);
}
:root .containerDefault_c69b6d .wrapper__260e1 {
  background-color: var(--background-primary);
}
:root .containerDefault_c69b6d .wrapper__260e1 .users__260e1 {
  background-color: var(--background-secondary-alt);
}
:root .containerDefault_c69b6d .wrapper__260e1 .total__260e1 {
  background-color: var(--background-primary);
}
:root .containerDefault_c69b6d .wrapper__260e1 .total__260e1:after {
  border-right-color: var(--background-primary);
}

:root .title_f75fb0,
:root .header_c791b2,
:root .container__9293f {
  background-color: var(--background-secondary);
}
:root .title_f75fb0 .children__9293f::after,
:root .header_c791b2 .children__9293f::after,
:root .container__9293f .children__9293f::after {
  content: none;
}
:root .chatContent_f75fb0 {
  background-color: var(--background-primary);
}
:root .chatContent_f75fb0 .wrapper__4106a,
:root .chatContent_f75fb0 .wrapper_fc8177 {
  background-color: inherit;
}
:root .chatContent_f75fb0 .form_f75fb0 {
  z-index: 2;
  width: calc(100% - 66px);
  margin-left: auto;
}
:root .chatContent_f75fb0 .form_f75fb0 .channelTextArea_f75fb0,
:root .chatContent_f75fb0 .form_f75fb0 .scrollableContainer__74017,
:root .chatContent_f75fb0 .form_f75fb0 .stackedBars__74017,
:root .chatContent_f75fb0 .form_f75fb0 .channelAttachmentArea_b77158 {
  background-color: var(--background-secondary-alt);
}
:root .chatContent_f75fb0 .form_f75fb0 .upload_aa605f,
:root .chatContent_f75fb0 .form_f75fb0 .spoilerInnerContainer__299eb {
  background-color: var(--background-primary);
}
:root .chatContent_f75fb0 .form_f75fb0 .buttons__74017 svg,
:root .chatContent_f75fb0 .form_f75fb0 .attachButtonInner__0923f svg {
  color: var(--chat-buttons);
}
:root .chatContent_f75fb0 .wrapper_f7ecac {
  background-color: var(--background-secondary);
}
:root .chatContent_f75fb0 .categoryHeader_d1405b,
:root .chatContent_f75fb0 .autocompleteInner__13533 {
  background-color: var(--background-secondary);
}
:root .chatContent_f75fb0 .role_b4b2c3 {
  background-color: color-mix(in srgb, var(--custom-role-label-color), var(--background-primary) 90%);
}
:root .newMessagesBar__0f481 {
  background-color: var(--unread-color);
}
:root #---new-messages-bar {
  --divider-color: var(--unread-divider-color, var(--unread-color));
}
:root .container_f369db {
  background-color: var(--background-primary);
}
:root .container_f369db .headerRow_f369db .header_f369db {
  background-color: var(--background-secondary-alt);
}
:root .container_f369db .card_f369db .container_faa96b {
  background-color: var(--background-secondary);
}
:root .container__34c2c {
  background-color: var(--background-secondary);
}
:root .resizeHandle__01ae2 {
  background-color: var(--background-secondary-alt);
}
:root .panels__5e434 .avatarWrapper__37e49 .avatar__37e49 {
  display: none;
  position: absolute;
  left: calc(100% + 10px);
  bottom: 25px;
  z-index: 1;
  margin: 0;
  padding: 0;
}
:root .scrollableContainer__74017 {
  background-color: var(--background-secondary);
}
:root :has(.form_f75fb0) .avatarWrapper__37e49 .avatar__37e49 {
  display: block;
}
:root .wrapper_d5f3cd {
  background-color: var(--background-secondary);
}
:root .embed__623de {
  background-color: var(--background-secondary);
  border-left-color: var(--background-secondary-alt);
}
:root .menu_c1e9c4 {
  background-color: var(--background-secondary);
}
:root .callContainer_cb9592 .buttonSection__1405b {
  background-color: var(--background-tertiary);
}
:root .callContainer_cb9592 .regionSelectPopout__8de63 {
  background-color: var(--background-secondary);
}
:root .popoutContainer__0f481 {
  background-color: var(--background-secondary-alt);
}
:root .card_dc2e44.card__73069 {
  background-color: var(--background-secondary);
}
:root .messagesPopoutWrap_e8b59c {
  background-color: var(--background-secondary);
}
:root .messagesPopoutWrap_e8b59c .header_e8b59c {
  background-color: var(--background-tertiary);
}
:root .messagesPopoutWrap_e8b59c .footer_e8b59c {
  background-color: var(--background-secondary-alt);
}
:root .messagesPopoutWrap_e8b59c .messageGroupWrapper_e8b59c {
  background-color: var(--background-primary);
}
:root .popoutContainer__4ad69 {
  background-color: var(--background-secondary);
}
:root .popoutContainer__4ad69 .header_e8b59c {
  background-color: var(--background-tertiary);
}
:root .container_d9c882 {
  background-color: var(--background-secondary);
}
:root .container_d9c882 .header_d9c882 {
  background-color: var(--background-tertiary);
}
:root .container_d9c882 .container__6764b {
  background-color: var(--background-primary);
}
:root #emoji-picker-tab-panel {
  background-color: var(--background-primary);
}
:root #emoji-picker-tab-panel .header_c0e32c {
  background-color: var(--background-secondary-alt);
}
:root #emoji-picker-tab-panel .emojiPicker_c0e32c {
  background-color: var(--background-primary);
}
:root #emoji-picker-tab-panel .emojiPicker_c0e32c .header_c656ac {
  background-color: var(--background-primary);
}
:root #emoji-picker-tab-panel .emojiPicker_c0e32c .inspector_c0e32c {
  background-color: var(--background-secondary-alt);
}
:root #emoji-picker-tab-panel .categoryList_c0e32c {
  background-color: var(--background-secondary-alt);
}
:root .jumpToPresentBar__0f481 {
  background-color: var(--background-secondary-alt);
}
:root .mentioned__5126c {
  background-color: var(--mention-color-background, color-mix(in srgb, var(--mention-color), var(--background-primary) 90%));
}
:root .mentioned__5126c:hover {
  background-color: var(--mention-color-hover, color-mix(in srgb, var(--mention-color), var(--background-primary) 95%));
}
:root .mentioned__5126c::before {
  background-color: var(--mention-color-bar, var(--mention-color));
}
:root .contentWrapper__9c62c {
  background-color: var(--background-secondary);
}
:root .contentWrapper__9c62c .container_cb32c7,
:root .contentWrapper__9c62c .clickable__761e5 {
  background-color: var(--background-secondary-alt);
}
:root .search__49676 {
  order: 1;
  margin-left: 4px;
}
:root .search__49676 .searchBar_c322aa {
  border: none;
}
:root .search__49676 .search_c322aa:not(.open_c322aa) .searchBar_c322aa {
  width: 27px;
  transition: 250ms;
  background-color: transparent;
}
:root .search__49676 .search_c322aa:not(.open_c322aa) .searchBar_c322aa .iconContainer_fea832 {
  transform: scale(1.3);
  transition: 250ms;
}
:root .search__49676 .search_c322aa:not(.open_c322aa) .searchBar_c322aa .iconContainer_fea832 .icon_fea832 {
  color: var(--interactive-normal);
}
:root .search__49676 .search_c322aa:not(.open_c322aa):hover .searchBar_c322aa {
  width: 220px;
  background-color: var(--background-tertiary);
}
:root .search__49676 .search_c322aa:not(.open_c322aa):hover .searchBar_c322aa .iconContainer_fea832 {
  transform: scale(1);
}
:root .search__49676 .search_c322aa:not(.open_c322aa):hover .searchBar_c322aa .iconContainer_fea832 .icon_fea832 {
  color: var(--text-muted);
}
:root .searchResultsWrap_a98f3b {
  background-color: var(--background-secondary);
}
:root .searchResultsWrap_a98f3b .searchResult__80bf8 {
  background-color: var(--background-primary);
}
:root .content__908e2 {
  background-color: var(--background-primary);
}

:root .connectionIcon_c7f964[alt="Battle.net"],
:root .accountBtnInner__750de[aria-label="Battle.net"],
:root .accountButtonInner_c7f964[aria-label="Battle.net"],
:root .connectedAccountIcon_e6abe8[aria-label="Battle.net"] {
  background-color: rgba(29, 160, 242, 0.2823529412);
}
:root .connectionIcon_c7f964[alt=Twitch],
:root .accountBtnInner__750de[aria-label=Twitch],
:root .accountButtonInner_c7f964[aria-label=Twitch],
:root .connectedAccountIcon_e6abe8[aria-label=Twitch] {
  background-color: rgba(96, 27, 216, 0.3215686275);
}
:root .connectionIcon_c7f964[alt=YouTube],
:root .accountBtnInner__750de[aria-label=YouTube],
:root .accountButtonInner_c7f964[aria-label=YouTube],
:root .connectedAccountIcon_e6abe8[aria-label=YouTube] {
  background-color: rgba(217, 37, 43, 0.2862745098);
}
:root .connectionIcon_c7f964[alt=Twitter],
:root .accountBtnInner__750de[aria-label=Twitter],
:root .accountButtonInner_c7f964[aria-label=Twitter],
:root .connectedAccountIcon_e6abe8[aria-label=Twitter] {
  background-color: rgba(0, 152, 228, 0.2470588235);
}
:root .connectionIcon_c7f964[alt=X],
:root .accountBtnInner__750de[aria-label=X],
:root .accountButtonInner_c7f964[aria-label=X],
:root .connectedAccountIcon_e6abe8[aria-label=X] {
  background-color: #000000;
}
:root .connectionIcon_c7f964[alt=Steam],
:root .accountBtnInner__750de[aria-label=Steam],
:root .accountButtonInner_c7f964[aria-label=Steam],
:root .connectedAccountIcon_e6abe8[aria-label=Steam] {
  background-color: rgba(0, 0, 0, 0.2039215686);
}
:root .connectionIcon_c7f964[alt=Reddit],
:root .accountBtnInner__750de[aria-label=Reddit],
:root .accountButtonInner_c7f964[aria-label=Reddit],
:root .connectedAccountIcon_e6abe8[aria-label=Reddit] {
  background-color: rgba(254, 68, 1, 0.2392156863);
}
:root .connectionIcon_c7f964[alt=Facebook],
:root .accountBtnInner__750de[aria-label=Facebook],
:root .accountButtonInner_c7f964[aria-label=Facebook],
:root .connectedAccountIcon_e6abe8[aria-label=Facebook] {
  background-color: rgba(46, 50, 132, 0.5215686275);
}
:root .connectionIcon_c7f964[alt=Spotify],
:root .accountBtnInner__750de[aria-label=Spotify],
:root .accountButtonInner_c7f964[aria-label=Spotify],
:root .connectedAccountIcon_e6abe8[aria-label=Spotify] {
  background-color: rgba(30, 215, 95, 0.2039215686);
}
:root .connectionIcon_c7f964[alt=Xbox],
:root .accountBtnInner__750de[aria-label=Xbox],
:root .accountButtonInner_c7f964[aria-label=Xbox],
:root .connectedAccountIcon_e6abe8[aria-label=Xbox] {
  background-color: rgba(93, 194, 30, 0.2117647059);
}
:root .connectionIcon_c7f964[alt="League of Legends"],
:root .accountBtnInner__750de[aria-label="League of Legends"],
:root .accountButtonInner_c7f964[aria-label="League of Legends"],
:root .connectedAccountIcon_e6abe8[aria-label="League of Legends"] {
  background-color: rgba(206, 161, 70, 0.2196078431);
}
:root .connectionIcon_c7f964[alt=GitHub],
:root .accountBtnInner__750de[aria-label=GitHub],
:root .accountButtonInner_c7f964[aria-label=GitHub],
:root .connectedAccountIcon_e6abe8[aria-label=GitHub] {
  background-color: rgba(36, 41, 46, 0.3843137255);
}
:root .connectionIcon_c7f964[alt=Skype],
:root .accountBtnInner__750de[aria-label=Skype],
:root .accountButtonInner_c7f964[aria-label=Skype],
:root .connectedAccountIcon_e6abe8[aria-label=Skype] {
  background-color: rgba(0, 118, 215, 0.2941176471);
}
:root .connectionIcon_c7f964[alt="Epic Games"],
:root .accountBtnInner__750de[aria-label="Epic Games"],
:root .accountButtonInner_c7f964[aria-label="Epic Games"],
:root .connectedAccountIcon_e6abe8[aria-label="Epic Games"] {
  background-color: rgba(47, 47, 47, 0.3490196078);
}
:root .connectionIcon_c7f964[alt="Riot Games"],
:root .accountBtnInner__750de[aria-label="Riot Games"],
:root .accountButtonInner_c7f964[aria-label="Riot Games"],
:root .connectedAccountIcon_e6abe8[aria-label="Riot Games"] {
  background-color: rgba(235, 28, 45, 0.2196078431);
}
:root .connectionIcon_c7f964[alt=PayPal],
:root .accountBtnInner__750de[aria-label=PayPal],
:root .accountButtonInner_c7f964[aria-label=PayPal],
:root .connectedAccountIcon_e6abe8[aria-label=PayPal] {
  background-color: rgba(0, 159, 227, 0.231372549);
}
:root .connectionIcon_c7f964[alt=TikTok],
:root .accountBtnInner__750de[aria-label=TikTok],
:root .accountButtonInner_c7f964[aria-label=TikTok],
:root .connectedAccountIcon_e6abe8[aria-label=TikTok] {
  background-color: rgba(100, 191, 197, 0.2745098039);
}
:root .connectionIcon_c7f964[alt=eBay],
:root .accountBtnInner__750de[aria-label=eBay],
:root .accountButtonInner_c7f964[aria-label=eBay],
:root .connectedAccountIcon_e6abe8[aria-label=eBay] {
  background-color: rgba(197, 0, 0, 0.231372549);
}
:root .connectionIcon_c7f964[alt="PlayStation Network"],
:root .accountBtnInner__750de[aria-label="PlayStation Network"],
:root .accountButtonInner_c7f964[aria-label="PlayStation Network"],
:root .connectedAccountIcon_e6abe8[aria-label="PlayStation Network"] {
  background-color: rgba(0, 81, 174, 0.3254901961);
}
:root .connectionIcon_c7f964[alt=Instagram],
:root .accountBtnInner__750de[aria-label=Instagram],
:root .accountButtonInner_c7f964[aria-label=Instagram],
:root .connectedAccountIcon_e6abe8[aria-label=Instagram] {
  background-color: rgba(175, 1, 182, 0.2509803922);
}
:root .connectionIcon_c7f964[alt=Roblox],
:root .accountBtnInner__750de[aria-label=Roblox],
:root .accountButtonInner_c7f964[aria-label=Roblox],
:root .connectedAccountIcon_e6abe8[aria-label=Roblox] {
  background-color: rgba(182, 191, 204, 0.2509803922);
}
:root .connectionIcon_c7f964[alt=Crunchyroll],
:root .accountBtnInner__750de[aria-label=Crunchyroll],
:root .accountButtonInner_c7f964[aria-label=Crunchyroll],
:root .connectedAccountIcon_e6abe8[aria-label=Crunchyroll] {
  background-color: rgba(243, 117, 33, 0.3019607843);
}
:root .connectionIcon_c7f964[alt="Bungie.net"],
:root .accountBtnInner__750de[aria-label="Bungie.net"],
:root .accountButtonInner_c7f964[aria-label="Bungie.net"],
:root .connectedAccountIcon_e6abe8[aria-label="Bungie.net"] {
  background-color: rgba(0, 163, 227, 0.3254901961);
}
:root .connectionIcon_c7f964[alt="Amazon Music"],
:root .accountBtnInner__750de[aria-label="Amazon Music"],
:root .accountButtonInner_c7f964[aria-label="Amazon Music"],
:root .connectedAccountIcon_e6abe8[aria-label="Amazon Music"] {
  background-color: rgba(13, 191, 245, 0.3254901961);
}
:root .connectionIcon_c7f964[alt=Bluesky],
:root .accountBtnInner__750de[aria-label=Bluesky],
:root .accountButtonInner_c7f964[aria-label=Bluesky],
:root .connectedAccountIcon_e6abe8[aria-label=Bluesky] {
  background-color: rgba(10, 81, 154, 0.3294117647);
}

:root .tabBody__133bf {
  background-color: var(--background-primary);
}
:root .container__7d20c {
  background-color: var(--background-secondary);
}
:root .privateChannels_e6b769 {
  background-color: var(--background-secondary);
}
:root .scroller__99e7c {
  background-color: inherit;
}
:root .itemCard__7e549 {
  background-color: var(--background-secondary-alt);
}
:root .itemCard__7e549:hover {
  background-color: var(--background-tertiary) !important;
}
:root .itemCard__7e549 .section__00943 {
  background-color: var(--background-primary);
}

:root .members_c8ffbb {
  background-color: var(--background-secondary);
}
:root .members_c8ffbb .member__5d473:not(.wrapperPlated__91a9d) {
  background-color: var(--background-secondary);
}
:root .members_c8ffbb .container__0f2e8 {
  background-color: var(--background-secondary-alt);
}
:root .members_c8ffbb .clanTag__5d473 {
  background-color: color-mix(in srgb, var(--background-primary), #ffffff 10%);
}

:root .mask__68edb > mask {
  display: none;
}
:root .outer_c0bea0 {
  overflow: visible;
}
:root .outer_c0bea0 .inner_c0bea0 {
  background-color: var(--background-primary);
}
:root .outer_c0bea0 .inner_ab8609,
:root .outer_c0bea0 .outer_ab8609 {
  background-color: var(--background-secondary);
}
:root .outer_c0bea0 .wrapper__4106a {
  top: -16px;
  margin: 1px 6px;
  transform: scale(0.9);
  right: 6px;
}
:root .outer_c0bea0 .wrapper__4106a button {
  background-color: var(--profile-gradient-primary-color);
  border-radius: 8px;
}
:root .overlay_c0bea0 {
  background-color: var(--background-secondary-alt);
}

:root {
  --button-count: 3;
  --buttons-height: calc(
    (32px * var(--button-count)) +
      (var(--user-buttons-spacing) * var(--button-count))
  );
}
:root:has(.container__37e49 .buttons__37e49 button:nth-child(4)) {
  --button-count: 4;
}
:root .guilds__5e434 {
  background-color: var(--background-tertiary);
  margin-bottom: var(--buttons-height);
}
:root .guilds__5e434 .listItem__650eb .icon__6e9f8,
:root .guilds__5e434 .listItem__650eb .folderPreviewWrapper__48112,
:root .guilds__5e434 .listItem__650eb .childWrapper__6e9f8,
:root .guilds__5e434 .listItem__650eb .circleIconButton__5bc7e {
  border-radius: var(--server-radius);
}
:root .guilds__5e434 .listItem__650eb .folderPreview__48112 .icon_f34534 {
  border-radius: var(--server-radius) !important;
}
:root .buttons__37e49 {
  z-index: 2;
  position: fixed;
  background: linear-gradient(transparent, var(--background-tertiary) 15%);
  padding: 20px 0 10px 0;
  width: 72px;
  display: flex;
  flex-direction: column;
  left: 0;
  bottom: 0;
  gap: var(--user-buttons-spacing);
}
:root .buttons__37e49 button:not(.buttonChevron__5e764) {
  width: 100%;
  color: var(--user-buttons-color);
  margin: 0;
}
:root .buttons__37e49 button.buttonChevron__5e764 {
  color: var(--user-buttons-color);
  position: absolute;
  right: 0;
}
:root .buttons__37e49 button.buttonChevron__5e764:hover {
  background-color: var(--button-secondary-background-hover);
  color: var(--interactive-hover);
}
:root .lowerBadge_cc5dd2 {
  z-index: 1;
}
:root .unreadMentionsIndicatorBottom_ef3116 {
  width: 72px;
  padding: 0;
}
:root .unreadMentionsIndicatorBottom_ef3116 .bar__3b95d {
  width: inherit;
  background-color: var(--mention-color);
}

:root .contentRegion__23e6b,
:root .contentRegionScroller__23e6b {
  background-color: var(--background-primary);
}
:root .sidebarRegionScroller__23e6b,
:root .cardPrimary__73069,
:root .vc-addon-card,
:root .box_f8c98c,
:root .authedAppV2__24605,
:root .connectContainer_c7f964,
:root .connection_c7f964 {
  background-color: var(--background-secondary);
}
:root .connectionHeader_c7f964,
:root .headerV2__24605 {
  background-color: var(--background-secondary-alt);
}
:root .container__3f21e {
  background-color: color-mix(in srgb, var(--background-primary), white 10%) !important;
}
:root .container__3f21e.checked__3f21e {
  background-color: var(--background-accent) !important;
}

:root .chat_f75fb0 {
  background-color: var(--background-primary) !important;
}
:root .chat_f75fb0 .content_f75fb0,
:root .chat_f75fb0 .pageBody__41ed7 {
  background-color: var(--background-primary) !important;
}
:root .chat_f75fb0 .content_f75fb0 .mainTableContainer__09a38,
:root .chat_f75fb0 .pageBody__41ed7 .mainTableContainer__09a38 {
  background-color: var(--background-secondary) !important;
}
:root .chat_f75fb0 .content_f75fb0 .container_bc0d35,
:root .chat_f75fb0 .pageBody__41ed7 .container_bc0d35 {
  background-color: var(--background-secondary);
}
:root .chat_f75fb0 .header__0b563 {
  background-color: var(--background-secondary) !important;
}
:root .prompt__5d7c9,
:root .channelRow_e4503a,
:root .row_d13feb {
  background-color: var(--background-secondary);
}
:root .container__3a5a1 {
  background-color: var(--background-primary);
}
:root .container__3a5a1 .innerContainer__3a5a1 .inviteContainer__23437 {
  background-color: var(--background-secondary-alt);
}

:root .container_a2f514 {
  background-color: var(--background-primary);
}
:root .container_a2f514 .content_a2f514 {
  position: relative;
}
:root .container_a2f514 .content_a2f514 .ready_a2f514 {
  display: none;
}
:root .container_a2f514 .content_a2f514 .ready_a2f514 + .text_a2f514 {
  top: 82px;
}
:root .container_a2f514 .content_a2f514::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  background: url("https://comfy-themes.github.io/Discord/assets/bonfire.gif") center/80% no-repeat;
}