:root {
  //main settings area
  .contentRegion__23e6b,
  .contentRegionScroller__23e6b {
    background-color: var(--background-primary);
  }

  .sidebarRegionScroller__23e6b, //sidebar
  .cardPrimary__73069, //Account standing
  .vc-addon-card, //vencord plugins
  .box_f8c98c, //family centre
  .authedAppV2__24605, //authorized apps
  .connectContainer_c7f964, // connections page header
  .connection_c7f964 //individual apps
  {
    background-color: var(--background-secondary);
  }

  .connectionHeader_c7f964, //connections header
  .headerV2__24605 {
    background-color: var(--background-secondary-alt);
  }

  // Toggles
  .container__3f21e {
    background-color: color-mix(
      in srgb,
      var(--background-primary),
      white 10%
    ) !important;

    &.checked__3f21e {
      background-color: var(--background-accent) !important;
    }
  }
}
